{% include "layout/dashboard-layout.html" %} {% block content %}
<br /><br /><br /><br />
<div class="grid grid-cols-4 md:grid-cols-3 md:grid-cols-2 gap-4">
    <!--  -->
    {% for site in sites %}
    <div class="card w-50 bg-base-100 shadow-xl image-full">
        <figure>
          <img src="{{ site.img }}" alt="{{ site.title }}" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">{{ site.title }}</h2>
          <div class="card-actions justify-end">
            <a href="{{ site.url }}" class="btn btn-primary">Visit Now</a>
          </div>
        </div>
      </div>
      {% endfor %}
      <!--  -->
</div>

{% endblock %}
